
.navbar-brand {
  font-family: "Bitter", serif;
  color: #F8D948!important;
}
.navbar {
  border-bottom: 5px solid white;
}
.list-unstyled {
  font-family: "Tajawal", sans-serif;
  font-size: 12px;
  color: #959A9C;
}
.bg-dark {
    background-color: #959A9C!important;
}
.nav-link {
  font-family: "Tajawal", sans-serif;
    color: #959A9C!important;
}
