
.navbar-brand {
  font-family: "Bitter", serif;
  color: #FA7268!important;
}
.navbar {
  border-bottom: 5px solid white;
}
.list-unstyled {
  font-family: "Tajawal", sans-serif;
  font-size: 12px;
  color: #FA7268;
}
.bg-dark {
    background-color: #FFB8B2!important;
}
.nav-link {
  font-family: "Tajawal", sans-serif;
    color: #FA7268!important;
}
