
.navbar-brand {
  font-family: "Bitter", serif;
  color: #E3D6FF!important;
}
.navbar {
  border-bottom: 5px solid white;
}
.list-unstyled {
  font-family: "Tajawal", sans-serif;
  font-size: 12px;
  color: #5F4B8B;
}
.bg-dark {
    background-color: #5F4B8B!important;
}
.nav-link {
  font-family: "Tajawal", sans-serif;
    color: #BFB4D6!important;
}
